<div [ngClass]="{'d-flex': true, 'justify-content-center': true, 'logo-block': true}">
    <img src="{{resources.logo}}" alt="Logo" routerLink="" />
</div>


<div class="container margin d-flex justify-content-center align-items-center">
    <div class="card col col-sm-5">
        <div class="card-block">
            <h3 class="card-title text-center">Oops - Your transaction didn't go through!</h3>
            <p class="card-text text-center">The reason could be invalid card/netbanking details. Please check if the card/bank information you entered is
                correct and try again<br>
            </p>
            <p class="card-text text-center">
            </p>
        </div>
    </div>
</div>