<div [ngClass]="{'forgot-password-block': true }">
  <div [ngClass]="{'col-md-6': true, 'col-lg-4': true, 'col-sm-8': true, 'col-12': true, 'col': true, 'forgot-password-center-align': true}">
    <div [ngClass]="{'d-flex': true, 'justify-content-center': true, 'logo-block': true}">
      <img src="{{resources.logo}}" alt="Logo" routerLink="" />
    </div>

    <div *ngIf="forgotPasswordSuccessStatus" class="container margin d-flex justify-content-center align-items-center">
      <div class="card col col-md-12">
        <div class="card-block">
          <p class="card-text text-center">{{forgotPasswordMessage}}<br>
          </p>
        </div>
      </div>
    </div>

    <div>
      <div *ngIf="forgotPasswordErrorStatus" [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
        {{forgotPasswordMessage}}
      </div>
      <!--<div *ngIf="forgotPasswordSuccessStatus" [ngClass]="{'alert': true, 'alert-success': true}" role="success">
        {{forgotPasswordMessage}}
      </div>-->
      <form [formGroup]='forgotPasswordForm'>
        <div [ngClass]="{'card': true}" *ngIf="forgotPasswordFormShowHide">
          <div [ngClass]="{'card-block': true}">
            <h4 [ngClass]="{'margin-bottom-20px': true}">{{forgotPasswordTranslations.forgotPasswordHeadText}}</h4>
            <div [ngClass]="{'form-group': true}">
              <input type="text" placeholder="{{forgotPasswordTranslations.emailText}}" id="dilzerEmail" [ngClass]="{'form-control': true}"
                formControlName="emailControl" [(ngModel)]="userEmail" />
              <div *ngIf="forgotPasswordForm.controls['emailControl'].hasError('required') && forgotPasswordForm.controls['emailControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{forgotPasswordTranslations.emptyEmailError}}
              </div>
              <div *ngIf="forgotPasswordForm.controls['emailControl'].hasError('pattern') && forgotPasswordForm.controls['emailControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{forgotPasswordTranslations.notValidEmailError}}
              </div>
            </div>
            <div [ngClass]="{'form-group': true}" *ngIf="!loadingOnSubmit">
              <button type="button" (click)="forgotPassword($event)" [ngClass]="{'btn': true, 'btn-background': true, 'form-control': true, 'active': true}">{{forgotPasswordTranslations.buttonText}}</button>
            </div>
            <div [ngClass]="{'form-group': true}" *ngIf="loadingOnSubmit">
              <button type="button" [ngClass]="{'btn': true, 'btn-background': true, 'form-control': true, 'active': true, 'd-flex': true, 'justify-content-center': true}"><div class="loader"></div></button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>