<div *ngIf="!isErrorOccured && committedSavingInfo && committedSavingInfo.committedSavings">
    <div class="margin-top-20px">
        <div class="margin-top-30px">
            <h4 class="margin-bottom-10px">Committed Savings</h4>

            <p-table *ngIf="committedSavingInfo.committedSavings && committedSavingInfo.committedSavings.length >0" [scrollable]="true"
                scrollHeight="250px" [columns]="cols" [value]="committedSavingInfo.committedSavings" id="paginationColor">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" class="column-width">
                    </colgroup>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">{{col.header}}</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-saving>
                    <tr>
                        <td>{{saving.name}}</td>
                        <td>{{saving.kind}}</td>
                        <td>{{'&#8377;' + displayCurrency(displayAmount(saving))}}</td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="2">Total :</td>
                        <td>{{committedSavingInfo.totalCommittedSavingAmount ? '&#8377;' + displayCurrency(committedSavingInfo.totalCommittedSavingAmount)
                            : '-'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngIf="committedSavingInfo.committedSavings && committedSavingInfo.committedSavings.length == 0" [ngClass]="{'col-md-6': true, 'col-12': true, 'col-lg-4': true, 'col-sm-6': true, 'center-align-div': true}">
            There are no Committed Savings added for this client. </div>
    </div>
</div>

<app-error-handling #errorHandling *ngIf="isErrorOccured" (retryEmitter)="retry()"> </app-error-handling>