<div *ngIf="!isErrorOccured">
    <div class="margin-top-30px margin-bottom-10px">
        <div class="row align-items-center">
            <div *ngIf="incomesListViewModel" class="col col-3 padding-0">
                <h4 *ngIf="!editEnable" class="margin-0">
                    <a (click)="routeBack()">
                        <i class="fa fa-angle-left navigate-route-back" aria-hidden="true"></i>
                    </a>{{incomesListViewModel.kindDisplayString}}
                </h4>
                <div *ngIf="editEnable">
                    <h4 class="margin-0 float-left">Selected ({{incomesListViewModel.incomeSelectedForDelete}})</h4>
                    <a class="float-left margin-left-10px" (click)="deleteSelectedIncomes()">Delete Selected</a>
                </div>
            </div>
            <div class="col col-3 text-center">
                <input *ngIf="!editEnable" type="text" (keyup)="searchIncomeList()" [(ngModel)]="incomesListViewModel.searchTerm" class="form-control"
                    placeholder="Search" />
            </div>
            <div class="col col-6 padding-0 text-right">
                <button type="button" class="btn btn-link float-right margin-left-10px" (click)="editIncomesDetail()">{{editButtonText}}</button>
            </div>
        </div>
    </div>


    <p-table [scrollable]="true" scrollHeight="250px" [columns]="cols" [value]="incomesListViewModel.incomeItems" id="paginationColor">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" class="column-width">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngIf="editEnable">
                    <input type="checkbox" (change)="selectDeselectAll($event)" />
                </th>
                <th *ngFor="let col of columns">{{col.header}}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-income>
            <tr>
                <td *ngIf="editEnable">
                    <input type="checkbox" (change)="incomesListViewModel.countSelected()" [(ngModel)]="income['isSelectedForDelete']" />
                    <button type="button" (click)="deleteIncome(income.income._id)" class="btn btn-link">Delete</button>
                </td>
                <td>
                    <img width="20px" src="{{resources.incomeIconPath + income.imageName}}" />
                    <a (click)="showIncomeDetails(income.income._id)" class="margin-left-10px">{{income.income.name}}</a>
                </td>
                <td>{{income.incomeTypeDisplayString}}</td>
                <td>{{income.ownerName}}</td>
                <td>{{income.amountDisplayString}}</td>
                <td>{{income.growthRateDisplayString}}</td>
                <td>{{income.createdDateDisplayString}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer">
            <tr>
                <td>Total :</td>
                <td *ngIf="editEnable"></td>
                <td></td>
                <td></td>
                <td *ngIf="incomesListViewModel && incomesListViewModel.incomeItems && incomesListViewModel.incomeItems.length > 0">{{incomesListViewModel.totalAmountDisplayString}}</td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-growl [(value)]="msgs"></p-growl>

<app-error-handling #errorHandling *ngIf="isErrorOccured" (retryEmitter)="retry()"> </app-error-handling>