<app-navbar #navbar></app-navbar>
<div [ngClass]="{'change-password-block': true }">
  <div [ngClass]="{'margin-top-40px': true}">
    <div [ngClass]="{'col-md-6': true, 'col-12': true, 'col-lg-4': true, 'col-sm-6': true, 'change-password-center-align': true}">
      <div *ngIf="changePasswordSuccessStatus" [ngClass]="{'alert': true, 'alert-success': true}" role="alert">
        {{changePasswordMessage}}
      </div>
      <div *ngIf="changePasswordErrorStatus" [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
        {{changePasswordMessage}}
      </div>
      <div [ngClass]="{'card': true}">
        <div [ngClass]="{'card-block': true}">
          <form [formGroup]="changePasswordForm">

            <div [ngClass]="{'form-group': true}">
              <input type="password" placeholder="{{changePasswordTranslations.oldPasswordText}}" id="dilzerOldPassword" [ngClass]="{'form-control': true}"
                formControlName="oldPasswordControl" [(ngModel)]="userData.oldPassword" />
              <div *ngIf="changePasswordForm.controls['oldPasswordControl'].hasError('required') && changePasswordForm.controls['oldPasswordControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{changePasswordTranslations.emptyPasswordError}}
              </div>
              <div *ngIf="changePasswordForm.controls['oldPasswordControl'].hasError('pattern') && changePasswordForm.controls['oldPasswordControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{changePasswordTranslations.minlengthPasswordError}}
              </div>
            </div>

            <div [ngClass]="{'form-group': true}">
              <input type="password" placeholder="{{changePasswordTranslations.newPasswordText}}" id="dilzerPassword" [ngClass]="{'form-control': true}"
                formControlName="passwordControl" [(ngModel)]="userData.newPassword" />
              <div *ngIf="changePasswordForm.controls['passwordControl'].hasError('required') && changePasswordForm.controls['passwordControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{changePasswordTranslations.emptyPasswordError}}
              </div>
              <div *ngIf="changePasswordForm.controls['passwordControl'].hasError('pattern') && changePasswordForm.controls['passwordControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{changePasswordTranslations.minlengthPasswordError}}
              </div>
            </div>
            <div [ngClass]="{'form-group': true}">
              <input type="password" placeholder="{{changePasswordTranslations.confirmPasswordText}}" id="dilzerConfirmPassword" [ngClass]="{'form-control': true}"
                formControlName="confirmPasswordControl" [(ngModel)]="userData.confirmPassword" />
              <div *ngIf="changePasswordForm.controls['confirmPasswordControl'].hasError('required') && changePasswordForm.controls['confirmPasswordControl'].touched"
                [ngClass]="{'alert': true, 'alert-danger': true}" role="alert">
                {{changePasswordTranslations.passwordMismatch}}
              </div>
            </div>
            <div [ngClass]="{'form-group': true}" *ngIf="!loadingOnSubmit">
              <button (click)="changePassword()" type="button" [ngClass]="{'btn': true, 'btn-background': true, 'form-control': true, 'active': true}">{{changePasswordTranslations.buttonText}}</button>
            </div>
            <div [ngClass]="{'form-group': true}" *ngIf="loadingOnSubmit">
              <button type="button" [ngClass]="{'btn': true, 'btn-background': true, 'form-control': true, 'active': true, 'd-flex': true, 'justify-content-center': true}"><div class="loader"></div></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>