<div [ngClass]="{'d-flex': true, 'justify-content-center': true, 'logo-block': true}">
  <img src="{{resources.logo}}" alt="Logo"  routerLink=""/>
</div>


<div class="container margin d-flex justify-content-center align-items-center">
  <div class="card col col-sm-5">
    <div class="card-block">
      <h3 class="card-title text-center">404. That’s an error.</h3>
      <p class="card-text text-center">The requested URL was not found on this server<br>
      </p>
      <p class="card-text text-center">
      </p>
    </div>
  </div>
</div>